.Home{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top{
    position: sticky;
    top: 0;
}

.bottom{
    display: flex;
    position: relative;
    gap: 1rem;
    padding: 1rem;
    height: calc(100vh-70px);
    overflow: auto;
}